@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

section{
    display: block;
    min-height: 100vh;

    background: url("https://i.postimg.cc/B61X7pC4/green-house-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    display: block;
    padding: 20px 20px;
}

a:link{
    color: #fff;
}
a:hover{
    color: rgba(255, 255, 255,0.5);
}

.row{
    display: flex;
    justify-content: space-between;
}

.company{
    font-size:1.5em;
    float: left;
    padding: 10px;
}

.menu ion-icon{
    float: right;
    font-size: 1.5em;
}

.menu button{
    background: transparent;
    border: none;
    border-radius: 50%;
    padding: 10px;
}

.menu button:hover{
    background: rgba(255, 255, 255,0.1);
}

.box{
    display: flex;
    margin-top: 20vh;
    justify-content: space-around;
  margin-bottom: 20vh;
}

.left{
    width: 500px;
}

.date{
    font-size: 0.6em;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.title{
    font-size: 3em;
    white-space:pre-line;
    letter-spacing: 1px;
    margin-top: 10px;
}

.details{
    font-size: 0.8em;
    word-spacing: 4px;
    line-height: 22px;
    margin: 20px auto;
}

.box button{
    width: 150px;
    height: 45px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    font-weight: bolder;
}

.box button:hover{
    background: #fff;
    color: #000;
    transition: 0.5s;
}

.right{
    width: 300px;
    display: block;
}

.contact_us{
    text-align: center;
    font-size: 0.8em;
    width: 300px;
}

.address{
    font-size: 1em;
    white-space: pre-wrap;
    line-height: 25px;
}

.contact{
    font-size: 1em;
    white-space: pre-wrap;
}

.follow{
    font-size: 1em;
    white-space: pre-wrap;
}

.follow a{
    font-weight: bolder;
}